<!-- sidebar menu -->
            <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
              <div class="menu_section active">

<ul class="nav side-menu">
                  <li><a><i class="fa fa-home"></i> General <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="{% url 'user_profile' %}"> Home</a></li>
                      <li><a href="{% url 'user_notifications' %}"> View all Notifications</a></li>
                    </ul>
                  </li>
                  <li><a><i class="fa fa-file-text-o"></i> Evaluate PhD Reports <span class="fa fa-chevron-down"></span></a>
                      <ul class="nav child_menu">
                          <li><a href="{% url 'admin_evaluate_reports' %}">View Submitted PhD Reports</a></li>
                       </ul>
                  </li>
                  
                </ul>
                </div>
            </div>
            <!-- /sidebar menu -->