<!-- sidebar menu -->
            <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
              <div class="menu_section active">

<ul class="nav side-menu">
                  <li><a><i class="fa fa-home"></i> General <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="{% url 'user_profile' %}"> Home</a></li>
                      <li><a href="{% url 'user_notifications' %}"> View all Notifications</a></li>
                      <li><a href="{% url 'user_edit_profile' %}"> Edit Profile</a></li>
                      <li><a href="{% url 'search_user' %}"> Search student / guide / referee</a></li>
                    </ul>
                  </li>
                  <li><a><i class="fa fa-file-text"></i> Evaluate PhDs <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="{% url 'guide_unevaluated_abstract' %}"> View Unevaluated PhD Abstracts</a></li>
                        <li><a href="{% url 'guide_unevaulated_synopsis' %}"> View Unevaluated PhD Synopsis</a></li>
                        <li><a href="{% url 'guide_unevaluated_thesis' %}"> View Unevaluted full PhD Thesis Documents</a></li>
                    </ul>
                  </li>
                <li><a><i class="fa fa-users"></i> PhD Evaluation Panel <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="{% url 'guide_submit_evaluation_panel' %}"> Submit PhD Evaluation Panel</a></li>
                    </ul>
                  </li>
                  <li><a><i class="fa fa-check-square-o"></i> Ongoing PhDs Status <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="{% url 'guide_phd_status' %}"> View PhDs Status</a></li>
                    </ul>
                  </li>
                  <li><a><i class="fa fa-question"></i> Help <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="{% url 'guide_help_procedure' %}"> Procedure</a></li>
                      <li><a href="{% url 'guide_help_contacts' %}"> Help Contacts</a></li>
                    </ul>
                  </li>
                </ul>
</div>
            </div>
            <!-- /sidebar menu -->