<!-- sidebar menu -->
            <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
              <div class="menu_section active">

<ul class="nav side-menu">
                  <li><a><i class="fa fa-home"></i> General <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="{% url 'guide_home' %}"> Home</a></li>
                      <li><a href="{% url 'user_notifications' %}"> View all Notifications</a></li>
                      <li><a href="{% url 'guide_edit_profile' %}"> Edit Profile</a></li>
                      <li><a href="{% url 'guide_view_student_info' %}"> View Student Info</a></li>
                    </ul>
                  </li>
                  <li><a><i class="fa fa-align-left"></i> Evaluate PhD Synopsis <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="{% url 'guide_unevaulated_synopsis' %}"> View Unevaluated Synopsis</a></li>
                      <li><a href="{% url 'guide_archived_synopsis' %}"> View Archived Synopsis</a></li>
                    </ul>
                  </li>
                  <li><a><i class="fa fa-file-text"></i> Evaluate PhD Thesis <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="{% url 'guide_unevaluated_thesis' %}"> View Unevalutaed Thesis</a></li>
                      <li><a href="{% url 'guide_archived_thesis' %}"> View Archived Thesis</a></li>
                    </ul>
                  </li>
                  <li><a><i class="fa fa-check-square-o"></i> Ongoing PhDs Status <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="{% url 'guide_phd_status' %}"> View PhDs Status</a></li>
                    </ul>
                  </li>
                  <li><a><i class="fa fa-question"></i> Help <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="{% url 'guide_help_procedure' %}"> Procedure</a></li>
                      <li><a href="{% url 'guide_help_contacts' %}"> Help Contacts</a></li>
                    </ul>
                  </li>
                </ul>
</div>
            </div>
            <!-- /sidebar menu -->

<!-- /menu footer buttons -->
            <div class="sidebar-footer hidden-small">
              <a href="{% url 'guide_home' %}" data-toggle="tooltip" data-placement="top" title="Profile">
                <span class="fa fa-user" aria-hidden="true"></span>
              </a>
              <a href="{% url 'guide_all_notifications' %}" data-toggle="tooltip" data-placement="top" title="Notifications">
                <span class="fa fa-exclamation-circle" aria-hidden="true"></span>
              </a>
              <a href="{% url 'guide_phd_status' %}" data-toggle="tooltip" data-placement="top" title="PhD Status">
                <span class="fa fa-check-square-o" aria-hidden="true"></span>
              </a>
              <a href="{% url 'login' %}" data-toggle="tooltip" data-placement="top" title="Logout">
                <span class="fa fa-sign-out" aria-hidden="true"></span>
              </a>
            </div>
            <!-- /menu footer buttons -->