<!-- sidebar menu -->
            <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
              <div class="menu_section active">

<ul class="nav side-menu">
                  <li><a><i class="fa fa-home"></i> General <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="{% url 'referee_home' %}"> Home</a></li>
                      <li><a href="{% url 'user_notifications' %}"> View all Notifications</a></li>
                      <li><a href="{% url 'referee_edit_profile' %}"> Edit Profile</a></li>
                    </ul>
                  </li>
                  <li><a><i class="fa fa-align-left"></i> Evaluation List <span class="fa fa-chevron-down"></span></a>
                      <ul class="nav child_menu">
                          <li><a href="{% url 'referee_requestedlist' %}">View Synopsis of requested</a></li>
                       </ul>
                  </li>
                  <li><a><i class="fa fa-align-left"></i> Thesis to Evaluate <span class="fa fa-chevron-down"></span></a>
                      <ul class="nav child_menu">
                        <li><a href="{% url 'referee_evaluation' %}"> View Thesis of accepted</a></li>
                        <li><a href="{% url 'referee_evaluation_report' %}"> Submit feedback</a></li>
                        </ul> 
                  </li>
                  <li><a><i class="fa fa-question"></i> Help <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="{% url 'referee_help_procedure' %}"> Procedure</a></li>
                      <li><a href="{% url 'referee_help_contacts' %}"> Help Contacts</a></li>
                    </ul>
                  </li>
                </ul>
</div>
            </div>
            <!-- /sidebar menu -->