{% extends "app/layouts/home.html" %}
{% load staticfiles %}
{% block styles %}
<!-- Add any page specific styles here -->
<link href="{% static 'app/css/add_keywords.css' %}" rel="stylesheet"/>
{% endblock %}
{% block content %}
<!-- Student's add / view keywords to thesis page -->
<div class="alert alert-info alert-dismissible fade in" role="alert" id="message-box" hidden>
    <span id="message"></span>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Keywords already added to thesis</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link" data-toggle="tooltip" data-placement="top" title="Collapse">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </li>
                    <li>
                        <a class="close-link" data-toggle="tooltip" data-placement="top" title="Close">
                            <i class="fa fa-close"></i>
                        </a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                {% if thesis.status.id > STATUS_ID_THESIS_APPROVED %}
                    <p>Your Thesis is already been approved, you can view your keywords in your <a href="{% url 'user_profile' %}">profile page</a>!</p>
                {% elif thesis.status.id < STATUS_ID_SUBMIT_SYNOPSIS %}
                    <p>Your have no Keywords to view!</p>
                {% elif thesis_keywords|length == 0 %}
                    <p>You don't have any keywords added to your thesis!</p>
                {% else %}
                    <div class="list-group"  id="selected-keywords">
                        {% for thesis_keyword in thesis_keywords %}
                            <a class="list-group-item">
                                <form style="display:none" method="post" action="{{ request.path }}delete/{{ thesis_keyword.id }}" id="delete-keyword-{{ thesis_keyword.id }}">
                                    {% csrf_token %}
                                </form>
                                <button class="btn btn-danger pull-right list-item-button" data-toggle="tooltip" data-placement="left"
                                        title="Delete" onclick="$('#delete-keyword-{{ thesis_keyword.id }}').submit()">
                                    <i class="fa fa-close"></i>
                                </button>
                                {{ thesis_keyword.keyword.keyword }}
                            </a>
                        {% endfor %}
                        {% for thesis_keyword in custom_keywords %}
                            <a class="list-group-item">
                                <form style="display:none" method="post" action="{{ request.path }}delete/{{ thesis_keyword.id }}" id="delete-custom-keyword-{{ thesis_keyword.id }}">
                                    <input type="hidden" name="custom_keyword" value="{{ thesis_keyword.keyword }}"/>
                                    {% csrf_token %}
                                </form>
                                <button class="btn btn-danger pull-right list-item-button" data-toggle="tooltip" data-placement="left"
                                        title="Delete" onclick="$('#delete-custom-keyword-{{ thesis_keyword.id }}').submit()">
                                    <i class="fa fa-close"></i>
                                </button>
                                {{ thesis_keyword.keyword }}
                            </a>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-md-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Add new keywords to your thesis</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link" data-toggle="tooltip" data-placement="top" title="Collapse">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </li>
                    <li>
                        <a class="close-link" data-toggle="tooltip" data-placement="top" title="Close">
                            <i class="fa fa-close"></i>
                        </a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                {% if thesis.status.id > STATUS_ID_THESIS_APPROVED %}
                    <p>Your Thesis is already been approved, you cannot add new keywords!</p>
                {% elif thesis.status.id < STATUS_ID_SUBMIT_SYNOPSIS %}
                    <p>Your Abstract need to be Approved to add keywords to your Thesis!</p>
                {% else %}
                    <div class="list-group" id="keywords-list-group">

                    </div>
                <div id="custom_keyword">
                    <p>
                        <b>Note</b> - The form below is to add a custom keyword at the current level. Use this
                        to add a new keyword which is not there in the list of IEEE keywords. The new keyword
                        you mention is added at the level which the above keywords are placed, i.e., the above
                        keywords and your new custom keyword will have the same parent keyword.
                    </p>
                    
                        <div class="form-group">
                            <label for="custom-keyword-ok" class="col-sm-2 control-label">Custom Keyword</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="custom-keyword" placeholder="Type your own keyword">
                                
                            </div>
                        </div>
                        <div class="form-group">
                            <br /><br /><br />
                            <button type="button" class="btn btn-success pull-right" 
                                    onclick="addCustomKeyword('{% url 'student_add_custom_keyword' %}', '{{ csrf_token }}')">
                                Add Custom Keyword
                            </button>
                        </div>
                    
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Search Keywords</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link" data-toggle="tooltip" data-placement="top" title="Collapse">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </li>
                    <li>
                        <a class="close-link" data-toggle="tooltip" data-placement="top" title="Close">
                            <i class="fa fa-close"></i>
                        </a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                {% if thesis.status.id > STATUS_ID_THESIS_APPROVED %}
                    <p>Your Thesis is already been approved, you cannot add new keywords!</p>
                {% elif thesis.status.id < STATUS_ID_SUBMIT_SYNOPSIS %}
                    <p>Your Abstract need to be Approved to add keywords to your Thesis!</p>
                {% else %}
                <form>
                    <div class="form-group">
                        <label for="keyword-typed" class="col-sm-2">Keyword</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="keyword-typed" placeholder="Type a Keyword" 
                                    oninput="searchKeywords('{% url 'student_search_keywords' %}', '{{ csrf_token }}')">
                        </div>
                    </div>
                </form>
                <br />
                <br><br>
                <div class="row">
                   <div class="col-md-6">
                        <form  action="{% url 'student_keywords_print' %}" method="post" enctype="">
                        {% csrf_token %}
                         <button type ="submit" class="btn btn-primary pull-left">Print added keywords</button>
                        </form>
                   </div>

                    <div class="col-md-6">
                        <button class="btn btn-success pull-right" 
                                onclick="searchKeywords('{% url 'student_keyword_recommendations' %}', '{{ csrf_token }}')">
                            View suggested keywords
                        </button>
                    </div>
                </div>
                    <br />
                <div class="row">
                    <br /><br />
                    <div class="col-sm-12" id="keyword-search-results">
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
<!-- Add any page specific javascript files here -->
<script>
    $(function () {
        loadTooltips();
        loadKeywords(-1);
    });

    function loadTooltips() {
        $('[data-toggle="tooltip"]').tooltip();
    }

    function loadKeywords(id) {
        $.post('{{ request.path }}get/', {
            csrfmiddlewaretoken : '{{ csrf_token }}',
            parent : id
        }, loadKeywordsCallback);

        // for custom keyword
        $('#custom-keyword-parent').val(id);
    }

    function loadKeywordsCallback(data) {
        console.log('inside callback');
        $('#keywords-list-group').empty();
        
        var i = 0
        var html;

        for (i = 0; i < $(data).length - 1; ++i) {
            html = getListItemMarkup(data[i].id, '{{ csrf_token }}', data[i].keyword, data[i].subkeywords);
            $('#keywords-list-group').append(html);
        }
        
        if (data[i].keyword.startsWith("Go back")) {
            html = getGoBackItemMarkup(data[i].id, data[i].keyword);
        } else {
            html = getListItemMarkup(data[i].id, '{{ csrf_token }}', data[i].keyword, data[i].subkeywords);
        }

        $('#keywords-list-group').append(html);
        loadTooltips();
    }
</script>
<script>
    function getListItemMarkup(id, csrf_token, keyword, subkeywords) {
        html = '<a class="list-group-item">';

        if (subkeywords !== 0) {
            html += '<button class="btn btn-primary pull-right list-item-button" data-toggle="tooltip" data-placement="left"' +
                        'title="View sub-keywords" onclick="loadKeywords(\'' + id + '\').submit()">' +
                        subkeywords + ' &nbsp; <i class="fa fa-long-arrow-right"></i>' +
                    '</button>';
        }

        html += '<form style="display:none" method="post" action="add/" id="add-keyword-' + id + '">' +
                        '<input type="hidden" name="csrfmiddlewaretoken" value="' + csrf_token + '">' +
                        '<input type="hidden" name="id" value="' + id + '">' +
                    '</form>' +
                    '<button class="btn btn-primary pull-right list-item-button" data-toggle="tooltip" data-placement="left"' +
                        'title="Add this keyword to thesis" onclick="$(\'#add-keyword-' + id + '\').submit()">' +
                        '<i class="fa fa-plus"></i>' +
                    '</button>' + keyword +
                '</a>';

        return html;
    }

    function getGoBackItemMarkup(id, keyword) {
        html = '<a class="list-group-item">' +
                    '<button class="btn btn-danger pull-right list-item-button" data-toggle="tooltip" data-placement="left"' +
                        'title="Go back" onclick="loadKeywords(\'' + id + '\').submit()">' +
                        '<i class="fa fa-long-arrow-left"></i>' +
                    '</button>' + keyword +
                '</a>';

        return html;
    }

    function searchKeywordResultMarkup(keyword, id, csrf_token) {
        html = '<div class="col-sm-6">' +
                        '<blockquote>' +
                            '<form style="display:none" id="add-searched-keyword-' + id + '" method="post" action="add/">' +
                                '<input type="hidden" name="csrfmiddlewaretoken" value="' + csrf_token + '">' +
                                '<input type="hidden" name="id" value="' + id + '">' +
                            '</form>' +
                            '<button class="btn btn-primary pull-right list-item-button" data-toggle="tooltip" data-placement="left"' +
                                    'title="Add this keyword to thesis" onclick="$(\'#add-searched-keyword-' + id + '\').submit()">' +
                                '<i class="fa fa-plus"></i>' +
                            '</button>' +
                            keyword +
                        '</blockquote>' +
                    '</div>';

        return html;
    }

    function searchKeywords(url, csrf_token) {
        $.post(url, {
            'keyword-typed': $('#keyword-typed').val(),
            'csrfmiddlewaretoken': csrf_token
        }, function (data) {
            $('#keyword-search-results').empty();

            if ($(data).length === 0) {
                $('#keyword-search-results').html('No results.');
            }

            $(data).each(function (index) {
                var html = searchKeywordResultMarkup(this['keyword'], this['id'], csrf_token)
                $('#keyword-search-results').append($(html));
            });

            loadTooltips();
        });
    }

    function addCustomKeyword(url, csrf_token) {
        $.post(url, {
            'keyword': $('#custom-keyword').val(),
            'csrfmiddlewaretoken': csrf_token
        }, function (data) {
            $('#message').html(data.message);
            $('#message-box').show();
            $('#message-box').fadeOut(5000);

            if (data.message.startsWith("Success")) {
                window.location = ''
            }
        });
    }
</script>
{% endblock %}