{% extends "app/layouts/home.html" %}
{% load staticfiles %}
{% block styles %}
<!-- Add any page specific styles here -->
<link href="{% static 'app/css/add_keywords.css' %}" rel="stylesheet"/>
{% endblock %}
{% block content %}
<!-- Student's add / view keywords to thesis page -->
<div class="row">
    <div class="col-md-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Keywords already added to thesis</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link" data-toggle="tooltip" data-placement="top" title="Collapse">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </li>
                    <li>
                        <a class="close-link" data-toggle="tooltip" data-placement="top" title="Close">
                            <i class="fa fa-close"></i>
                        </a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                {% if thesis is None %}
                    <p>Please submit a thesis first!</p>
                {% elif thesis_keywords|length == 0 %}
                    <p>You don't have any keywords added to your thesis {{ thesis.title }}</p>
                {% else %}
                    <div class="list-group">
                        {% for keyword in thesis_keywords %}
                            <a class="list-group-item">
                                <form style="display:none" method="post" action="{{ request.path }}delete/{{ keyword.id }}" id="delete-keyword-{{ keyword.id }}">
                                    {% csrf_token %}
                                </form>
                                <button class="btn btn-danger pull-right list-item-button" data-toggle="tooltip" data-placement="left"
                                        title="Delete" onclick="$('#delete-keyword-{{ keyword.id }}').submit()">
                                    <i class="fa fa-close"></i>
                                </button>
                                {{ keyword.keyword_id.keyword }}
                            </a>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-md-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Add new keywords to your thesis</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                {% if thesis is None %}
                    <p>Please submit a thesis first!</p>
                {% else %}
                    <div class="list-group" id="keywords-list-group">

                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
<!-- Add any page specific javascript files here -->
<script>
    $(function () {
        loadTooltips();
        loadKeywords(-1);
    });

    function loadTooltips() {
        $('[data-toggle="tooltip"]').tooltip();
    }

    function loadKeywords(id) {
        $.post('{{ request.path }}get/', {
            csrfmiddlewaretoken : '{{ csrf_token }}',
            parent_id : id
        }, loadKeywordsCallback);
    }

    function loadKeywordsCallback(data) {
        console.log('inside callback');
        $('#keywords-list-group').empty();
        
        var i = 0
        var html;

        for (i = 0; i < $(data).length - 1; ++i) {
            html = getListItemMarkup(data[i].id, '{{ csrf_token }}', data[i].keyword, data[i].subkeywords);
            $('#keywords-list-group').append(html);
        }
        
        if (data[i].keyword.startsWith("Go back")) {
            html = getGoBackItemMarkup(data[i].id, data[i].keyword);
        } else {
            html = getListItemMarkup(data[i].id, '{{ csrf_token }}', data[i].keyword, data[i].subkeywords);
        }

        $('#keywords-list-group').append(html);
        loadTooltips();
    }
</script>
<script>
    function getListItemMarkup(id, csrf_token, keyword, subkeywords) {
        html = '<a class="list-group-item">';

        if (subkeywords !== 0) {
            html += '<button class="btn btn-primary pull-right list-item-button" data-toggle="tooltip" data-placement="left"' +
                        'title="View sub-keywords" onclick="loadKeywords(\'' + id + '\').submit()">' +
                        subkeywords + ' &nbsp; <i class="fa fa-long-arrow-right"></i>' +
                    '</button>';
        }

        html += '<form style="display:none" method="post" action="add/" id="add-keyword-' + id + '">' +
                        '<input type="hidden" name="csrfmiddlewaretoken" value="' + csrf_token + '">' +
                        '<input type="hidden" name="id" value="' + id + '">' +
                    '</form>' +
                    '<button class="btn btn-primary pull-right list-item-button" data-toggle="tooltip" data-placement="left"' +
                        'title="Add this keyword to thesis" onclick="$(\'#add-keyword-' + id + '\').submit()">' +
                        '<i class="fa fa-plus"></i>' +
                    '</button>' + keyword +
                '</a>';

        return html;
    }

    function getGoBackItemMarkup(id, keyword) {
        html = '<a class="list-group-item">' +
                    '<button class="btn btn-danger pull-right list-item-button" data-toggle="tooltip" data-placement="left"' +
                        'title="View subcategories" onclick="loadKeywords(\'' + id + '\').submit()">' +
                        '<i class="fa fa-long-arrow-left"></i>' +
                    '</button>' + keyword +
                '</a>';

        return html;
    }
</script>
{% endblock %}