{% extends "app/layouts/home.html" %}
{% load staticfiles %}
{% block styles %}
<link href="http://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />
{% endblock %}
{% block content %}
<br />
<div class="col-sm-12">
    <div class="alert alert-success alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <ul>
            <li>PhD details to fill are Title of the work and the Guide(s) or Co-Guide.</li>
            <li>Title must ideally be 5-20 words in length.</li>
            <li>You Should submit guides and coguides according to Limit od IIITA.</li>
            <li>Currently the limit 1 Guide and 1 Coguide or 2 Guides or a single Guide.</li>
            <li>Any issues contact administrator to solve them.</li>
        </ul>
    </div>

    
    <div class="alert alert-success alert-dismissible fade in" role="alert" id="success-message" hidden>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span>
    </button>
    <span id="message"></span>
  
    </div>
    
    <div class="alert alert-danger alert-dismissible fade in" role="alert" id="fail-message" hidden>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span>
    </button>
    <span id="message"></span>
    </div>
    
</div>

<div class="col-sm-12">
    <div class="x_panel">
        <div class="x_title">
            <h2>PhD Thesis Details</h2>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            {% if isDetailsApproved %}
            <p>
                You have already submitted your PhD Details. You are not
                allowed to modify your PhD Details now. You can view your PhD abstact on your 
                <a href="{% url 'user_profile' %}"><b>profile page<b></a>.
            </p>
            {% else %}
            <form class="form-horizontal">
                <div class="form-group">
                    <label for="abstract" class="col-sm-2 control-label">Title :</label>
                        <div class="col-sm-9">
                            <textarea class="form-control" id="title" name="title" rows="2" required = "required"></textarea>
                        </div>
                </div>
                <br>
                <div class="form-group">
                    <label for="Guides" class="col-sm-2 control-label">
                        Select Guides
                    </label>
                    <div class="col-sm-5">
                        <select class="form-control select2-faculty" id="guides" multiple>
                            
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="Co-Guides" class="col-sm-2 control-label">
                        Select Co-Guides
                    </label>
                    <div class="col-sm-5">
                        <select class="form-control select2-faculty" id="co_guides" multiple>
                            
                        </select>
                    </div>
                </div>
            </form>
            <br />
            <button class="btn btn-primary pull-right" 
                    onclick="confirm('{% url 'student_add_details' %}', '{{ csrf_token }}')">
                    Confirm
            </button>
            
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
<!-- Add any page specific javascript files here -->
<script src="http://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
<script>
    function formatFacultyData(user) {
        var option = $(
          '<span class="clearfix">' +
            '<img class="img-responsive img-rounded pull-right" style="height:65px;" src="http://localhost:8000/static/app/images/user.png"/>' +
            '<h5>' + user.text + '</h5>' +
            '<p>' + user.email + '</p>' +
          '</span>'
        );
        return option;
    };

    function formatFacultySelection(user) {
        return user.text;
    }

    $(document).ready(function () {
        $(".select2-faculty").each(function () {
            
            $(this).select2({
                ajax: {
                    url: '/student/details/faculty/all/',
                    dataType: 'json',
                    data: function (term, page) {
                        return {
                            term: term['term'],
                        }
                    },
                    processResults: function (data, params) {
                        params.page = params.page || 1;

                        return {
                            results: data,
                            pagination: {
                                more: (params.page * 30) < data.total_count
                            }
                        };
                    },
                },
                minimumInputLength: 1,
                maximumSelectionSize: 10,
                templateResult: formatFacultyData,
                templateSelection: formatFacultySelection,
                width: '100%',
            });
       });
    });

    function confirm(url, csrf_token) {
        $.post(url, {
            'title': $('#title').val(),
            'guides': $('#guides').val(),
            'co_guides': $('#co_guides').val(),
            'csrfmiddlewaretoken': csrf_token
        }, function (data) {
            if (data.status === "OK") {
                $('#success-message #message').html(data.message);
                $('#success-message').show();
                $('#success-message').delay(3000).fadeOut();
                window.location = ''
            } else {
                $('#fail-message #message').html(data.message);
                $('#fail-message').show();
                $('#fail-message').delay(3000).fadeOut();
            }
        });
    }
</script>
{% endblock %}