{% extends "app/layouts/home.html" %}
{% block styles %}
<!-- Add any page specific styles here -->

{% endblock %}
{% block content %}
<!-- Student's PhD status page -->
<div class="x_panel">
    <div class="x_title">
        <h2>View your PhD status</h2>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">
        <div class="dashboard-widget-content">
            <ul class="list-unstyled timeline widget">
                {% for status in phdStatuses %}
                <li>
                    <div class="block">
                        <div class="block_content">
                    {% if forloop.counter < phdStatus %}
                            <h2 class="title text-success">{{ status.status_message }} <i class="fa fa-check"></i></h2>
                    {% elif forloop.counter == phdStatus %}
                            <h2 class="title text-primary">{{ status.status_message }} <i class="fa fa-dot-circle-o"></i></h2>
                    {% else %}
                            <h2 class="title">{{ status.status_message }}</h2>
                    {% endif %}
                            <!--<br />
                            <p class="excerpt">{{ status.description }}</a></p>-->
                        </div>
                    </div>
                </li>
                {% endfor %}
                
            </ul>
        </div>
    </div>
</div>

{% endblock %}
{% block scripts %}
<!-- Add any page specific javascript files here -->

{% endblock %}