{% extends "app/layouts/home.html" %}
{% load staticfiles %}
{% block styles %}
{% endblock %}
{% block content %}
<br />
<div class="col-sm-12">
    <div class="alert alert-success alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <ul>
            <li>PhD abstract is a short gist/summary of your PhD your are working on.</li>
            <li>Abstract must ideally be 200-300 words in length.</li>
            <li>You can submit an abstract again if your guide has requested for changes.</li>
            <li>To edit your abstarct simply edit the field below and submit.</li>
            <li>Once your guide approves your PhD abstract, you cannot edit it again.</li>
        </ul>
    </div>
</div>
<div class="col-sm-12">
    <div class="x_panel">
        <div class="x_title">
            <h2>PhD Thesis Abstract</h2>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <form class="form-horizontal" method="post" action="">
                {% csrf_token %}
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-1 control-label">Abstract :</label>
                        <div class="col-sm-11">
                            {% if abstract is None %}
                            <textarea class="form-control" name="abstract" rows="10"></textarea>
                            {% else %}
                            <textarea class="form-control" name="abstract" rows="10">{{ abstract }}</textarea>
                            {% endif %}
                        </div>
                </div><br />
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-success pull-right">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
<!-- Add any page specific javascript files here -->
{% endblock %}