<div class="x_panel">
    <div class="x_title">
        <h2>PhD Thesis info</h2>
        <ul class="nav navbar-right panel_toolbox">
            <li>
                <a class="collapse-link" data-toggle="tooltip" data-placement="top" title="Collapse">
                    <i class="fa fa-chevron-up"></i>
                </a>
            </li>
            <li>
                <a class="close-link" data-toggle="tooltip" data-placement="top" title="Close">
                    <i class="fa fa-close"></i>
                </a>
            </li>
        </ul>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">
        <p><b>Title</b> - <span id="thesis-title">{{ user.title }}</span></p>
        <p><b>Thesis Abstract</b> -
        <span id="thesis-abstract">
        {% if user.abstract|length == 0 %}
            Abstract not submitted yet.
        {% else %}
            {{ user.abstract }}
        {% endif %}
        </span>
        </p>
        <p>
            <b>Guides -</b>
            <ul id="student-guides">
                {% for guide in user.guides %}
                <li>
                    <b class="thesis-guide-name">{{ guide.full_name }}</b>
                    ( <span class="thesis-guide-type">{{ guide.type }}</span> )
                    ( <a class="thesis-guide-profile-link" href="{% url 'user_profile' %}{{ guide.username }}/">View Profile</a> )
                </li>
                {% endfor %}
            </ul>
        </p>
        <p id="thesis-keywords">
            <b>Thesis Keywords -</b>
            {% if user.keywords|length == 0 %}
                No keywords added yet
            {% else %}
            <ul>
                {% for keyword in user.keywords %}
                <li>
                    {{ keyword }}
                </li>
                {% endfor %}
            </ul>
            {% endif %}
        </p>
        <br />
        {% if request.session.username == user.username %}
        <a id="button-add-abstract" href="{% url 'student_add_abstract' %}" class="btn btn-primary">Add / Edit Phd Abstract</a>
        <a id="button-upload-synopsis" href="{% url 'student_upload_synopsis' %}" class="btn btn-primary">Upload Phd Synopsis</a>
        <a id="button-upload-thesis" href="{% url 'student_upload_thesis' %}" class="btn btn-primary">Upload Phd Thesis Document</a>
        <a id="button-add-keywords" href="{% url 'student_add_keywords' %}" class="btn btn-primary">Add / Remove Keywords to PhD Thesis</a>
        <a id="button-view-phd-status" href="{% url 'student_phd_status' %}" class="btn btn-primary">View PhD Status</a>
        {% endif %}
    </div>
</div>