{% extends "app/layouts/home.html" %}
{% load staticfiles %}
{% block styles %}
<!-- Add any page specific styles here -->
<style>
    input[type="file"] {
        display: none;
    }
</style>
{% endblock %}
{% block content %}
<br>
<div class="row">
    <div class="col-sm-8">
        <div class="x_panel">
            <div class="x_title">
                <h2>Upload</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
            {% if not canSubmitThesis %}
            <p>
                You cannot submit a PhD thesis yet. This is because your PhD synopsis hasn't yet been approved.
            </p>
            {% elif thesisWaitingApproval %}
            <p>
                You have already submitted your full PhD thesis document and it is under evaluation by your Guide/Co-guide.
                You cannot alter your PhD thesis document now. You can view your submitted thesis document by clicking on the
                button below.
            </p>
            <br />
            <a class="btn btn-primary pull-right" href="{% url 'student_view_thesis' %}">View Thesis</a>
            {% elif isThesisApproved and not canReSubmitThesis %}
            <p>
                You have already submitted your full PhD thesis document and it was evaluted and approved by your Guide/Co-guide.
                You cannot alter your PhD thesis document now. You can view your submitted thesis document by clicking on the
                button below.
            </p>
            <br />
            <a class="btn btn-primary pull-right" href="{% url 'student_view_thesis' %}">View Thesis</a>
            {% else %}
            <br />
            <form class="form-horizontal" action="{% url 'student_upload_thesis' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row">
                <div class="col-md-5">
                    <div class="form-group">
                        <div class="col-sm-4">
                            <span style="line-height:20px;">Upload Thesis (PDF only)</span>
                        </div>
                        <div class="col-sm-8">
                            <label for="file-upload">
                                <a for="file-upload" class="btn btn-primary btn-lg">
                                    <i class="fa fa-upload"></i> &nbsp; Upload Thesis
                                </a>
                            </label>
                            <input id="file-upload" name="thesis" type="file"/>
                        </div>
                    </div><br />
                    <div class="form-group">
                        <div class="col-sm-4">
                            <p>File Name</p>
                        </div>
                        <div class="col-sm-8">
                            <span id="file-selected">Your filename will appear here</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4">
                            <p>File Size</p>
                        </div>
                        <div class="col-sm-8">
                            <span id="file-size">Your file size (in MB) will appear here</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="col-sm-4">
                            <span style="line-height:5px;">Upload Modifications (PDF only)</span>
                        </div>
                        <div class="col-sm-8">
                            <label for="file-upload-1">
                                <a for="file-upload-1" class="btn btn-primary btn-lg">
                                    <i class="fa fa-upload"></i> &nbsp;Upload File
                                </a>
                            </label>
                            <input id="file-upload-1" name="thesis_modifications" type="file" />
                        </div>
                    </div><br />
                    <div class="form-group">
                        <div class="col-sm-4">
                            <p>File Name</p>
                        </div>
                        <div class="col-sm-8">
                            <span id="file-selected-1">Your filename will appear here</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4">
                            <p>File Size</p>
                        </div>
                        <div class="col-sm-8">
                            <span id="file-size-1">Your file size (in MB) will appear here</span>
                        </div>
                    </div>
                </div>
                </div>
                <button type="submit" class="btn btn-success pull-right">Submit</button>
            </form>
            {% endif %}
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="x_panel">
            <div class="x_title">
                <h2>Upload Instructions</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content"><br />
                <p>Please read the following instructions carefully before uploading your synopsis.</p>
                <ul>
                    <li>The file must be strictly in PDF format.</li>
                    <li>File size should not exceed 5 MB.</li>
                    <li>If you have already uploaded a Thesis, then uploading a PDF file again will automatically
                    replace it, provided you are still allowed to do it.</li>
                    <li>Once your thesis is accepted by the guide you cannot upload a thesis document again to replace it.</li>
                    <li>Your guide will automatically be notified of your submission.</li>
                    <li>After submitting your thesis, you <b>must add relevant keywords</b> to your thesis.</li>
                </ul>
                {% if thesisExists %}
                <br />
                <a class="btn btn-primary pull-right" href="{% url 'student_add_keywords' %}">Add Keywords</a>
                <a class="btn btn-primary pull-right" href="{% url 'student_view_thesis' %}">View Thesis</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
<!-- Add any page specific javascript files here -->
<script type="text/javascript">
    $('#file-upload').bind('change', function () {
        var fileName = '';
        var fileSize = this.files[0].size;  // bytes

        fileName = $(this).val();
        $('#file-selected').html(fileName);

        fileSize = fileSize / 1024.0;       // KB

        if (fileSize > 1024) {
            fileSize = fileSize / 1024.0;   // MB
            fileSize = fileSize.toFixed(2) + ' MB';
        } else {
            fileSize = fileSize.toFixed(2) + ' KB';
        }

        $('#file-size').html(fileSize);
    });
</script>
<script type="text/javascript">
    $('#file-upload-1').bind('change', function () {
        var fileName = '';
        var fileSize = this.files[0].size;  // bytes

        fileName = $(this).val();
        $('#file-selected-1').html(fileName);

        fileSize = fileSize / 1024.0;       // KB

        if (fileSize > 1024) {
            fileSize = fileSize / 1024.0;   // MB
            fileSize = fileSize.toFixed(2) + ' MB';
        } else {
            fileSize = fileSize.toFixed(2) + ' KB';
        }

        $('#file-size-1').html(fileSize);
    });
</script>
{% endblock %}