
{% extends "app/layouts/home.html" %}
{% load staticfiles %}
{% block styles %}
<style>
    input[type="file"] {
        display: none;
    }
</style>
{% endblock %}
{% block content %}
<br>
<div class="row">
    <div class="col-sm-6">
        <div class="x_panel">
            <div class="x_title">
                <h2>Upload</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
            {% if not isAbstaractApproved %}
            <p>
                You cannot submit a PhD synopsis yet. This is because your PhD abstract hasn't yet been approved by your 
                Guide/Co-guide.
            </p>
            {% elif canRequestSynopsis %}
            <p>    You need to seek permission from SPGC to submit your synopsis. </p>
            <form class="form-horizontal" action="{% url 'student_request_synopsis' %}" method="post" enctype="">
                {% csrf_token %}
                
                <button type="submit" class="btn btn-info pull-right">Request for Permission</button>
            </form>   
            {% elif requestWaitingApproval %}
            <p>
                Your request for submission of Synopsis has been considered.You will be notified once your request is Approved.
            </p>
            {% elif synopsisWaitingApproval %}
            <p>
                You have already submitted your PhD synopsis, and it has been under evaluation by your Guide/Co-guide. You cannot alter
                your PhD synopsis now. You can view your approved synopsis by clicking on the button below.
            </p>
            <a class="btn btn-primary pull-right" href="{% url 'student_view_synopsis' %}">View Synopsis</a>
            {% elif isSynopsisApproved %}
            <p>
                You have already submitted your PhD synopsis, and it has been approved by your Guide/Co-guide. You cannot alter
                your PhD synopsis now. You can view your approved synopsis by clicking on the button below.
            </p>
            <br />
            <a class="btn btn-primary pull-right" href="{% url 'student_view_synopsis' %}">View Synopsis</a>
            {% else %}
            <br />
            <form class="form-horizontal" action="{% url 'student_upload_synopsis' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                    <div class="col-sm-4">
                        <span style="line-height:45px;">Upload File (PDF only)</span>
                    </div>
                    <div class="col-sm-8">
                        <label for="file-upload">
                            <a for="file-upload" class="btn btn-primary btn-lg">
                                <i class="fa fa-upload"></i> &nbsp; Upload Synopsis
                            </a>
                        </label>
                        <input id="file-upload" name="synopsis" type="file"/>
                    </div>
                </div><br />
                <div class="form-group">
                    <div class="col-sm-4">
                        <p>File Name</p>
                    </div>
                    <div class="col-sm-8">
                        <span id="file-selected">Your filename will appear here</span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-4">
                        <p>File Size</p>
                    </div>
                    <div class="col-sm-8">
                        <span id="file-size">Your file size (in MB) will appear here</span>
                    </div>
                </div>
                <button type="submit" class="btn btn-success pull-right">Submit</button>
            </form>
            {% endif %}
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="x_panel">
            <div class="x_title">
                <h2>Upload Instructions</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content"><br />
                <p>Please read the following instructions carefully before uploading your synopsis.</p>
                <ul>
                    <li>The file must be strictly in PDF format.</li>
                    <li>File size should not exceed 5 MB.</li>
                    <li>If you have already uploaded a Synopsis, then uploading a PDF file again will automatically
                    replace it, provided you are still allowed to do it.</li>
                    <li>Once your synopsis is accepted by the guide you cannot upload a synopsis again to replace it.</li>
                    <li>Your guide will automatically be notified of your synopsis submission.</li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
<!-- Add any page specific javascript files here -->
<script type="text/javascript">
    $('#file-upload').bind('change', function () {
        var fileName = '';
        var fileSize = this.files[0].size;  // bytes

        fileName = $(this).val();
        $('#file-selected').html(fileName);

        fileSize = fileSize / 1024.0;       // KB

        if (fileSize > 1024) {
            fileSize = fileSize / 1024.0;   // MB
            fileSize = fileSize.toFixed(2) + ' MB';
        } else {
            fileSize = fileSize.toFixed(2) + ' KB';
        }

        $('#file-size').html(fileSize);
    });
</script>
{% endblock %}