{% extends "app/layouts/home.html" %}
{% load staticfiles %}
{% block styles %}
<!-- Add any page specific styles here -->

{% endblock %}
{% block content %}
<!-- View student's submitted synopsis page -->
<div class="x_panel">
    <div class="x_title">
        <h2>Synopsis</h2>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">
        {% if synopsisPath is None %}
            <p>
                You haven't submitted the PhD synopsis yet. You can submit it 
                <a href="{% url 'student_upload_synopsis' %}">here</a>.
            </p>
        {% else %}
            <object data="{% static synopsisPath %}" type="application/pdf" width="100%" height="800px">
                <p>PhD Synopsis</p>
            </object>
            <br /><br />
            <a class="btn btn-primary btn-lg pull-right" href="{% static synopsisPath %}" download="download">
                <i class="fa fa-download"></i> &nbsp; Download Synopsis
            </a>
            <a class="btn btn-success btn-lg pull-right" onclick="printPdf('{% static synopsisPath %}')">
                <i class="fa fa-print"></i> &nbsp; Print Synopsis
            </a>
        {% endif %}
    </div>
</div>

{% endblock %}
{% block scripts %}
<!-- Add any page specific javascript files here -->

{% endblock %}