{% extends "app/layouts/home.html" %}
{% load staticfiles %}
{% block styles %}
<!-- Add any page specific styles here -->

{% endblock %}
{% block content %}
<!-- Guide homepage -->
<div class="alert alert-success alert-dismissible fade in" role="alert" id="success-message" hidden>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">×</span>
    </button>
    <span id="message"></span>
</div>
{% for thesis in all_thesis %}
<div class="x_panel" id="thesis-{{ thesis.id }}">
    <div class="x_title">
        <h2>{{ thesis.title }}</h2>
        <ul class="nav navbar-right panel_toolbox">
            <li><a class="collapse-link"><i class="fa fa-chevron-up text-primary"></i></a></li>
            <li><a class="close-link"><i class="fa fa-close text-danger"></i></a></li>
        </ul>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">
        <div class="" role="tabpanel" data-example-id="togglable-tabs">
            <ul id="thesis-tabs-{{ thesis.id }}" class="nav nav-tabs bar_tabs" role="tablist">
                <li role="presentation" class="active">
                    <a href="#phd-details-{{ thesis.id }}" id="details-tab-{{ thesis.id }}" role="tab" data-toggle="tab" aria-expanded="true">PhD Thesis Details</a>
                </li>
                <li role="presentation">
                    <a href="#phd-synopsis-{{ thesis.id }}" id="synopsis-tab-{{ thesis.id }}" role="tab" data-toggle="tab" aria-expanded="true">PhD Synopsis</a>
                </li>
                <li role="presentation">
                    <a href="#phd-thesis-{{ thesis.id }}" id="thesis-tab-{{ thesis.id }}" role="tab" data-toggle="tab" aria-expanded="true">PhD Thesis</a>
                </li>
                <li role="presentation">
                    <a href="#phd-report-{{ thesis.id }}" role="tab" id="report-tab-{{ thesis.id }}" data-toggle="tab" aria-expanded="false">Final Report</a>
                </li>
            </ul>
            <div id="thesis-tabs-content-{{ thesis.id }}" class="tab-content">
                <div role="tabpanel" class="tab-pane fade active in" id="phd-details-{{ thesis.id }}" aria-labelledby="details-tab-{{ thesis.id }}">
                    <p><b>Title</b> - {{ thesis.title }}</p>
                    <p><b>Student</b> - <a href="{% url 'user_profile' %}{{ thesis.username }}/">{{ thesis.student_full_name }}</a></p>
                    <p>
                        <b>Thesis Keywords</b> - 
                        <ul>
                            {% for keyword in thesis.keywords %}
                            <li>{{ keyword }}</li>
                            {% endfor %}
                        </ul>
                    </p>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="phd-synopsis-{{ thesis.id }}" aria-labelledby="synopsis-tab-{{ thesis.id }}">
                    <p>
                        <a class="btn btn-primary pull-right" href="{% static thesis.synopsis %}" download="download">
                            <i class="fa fa-download"></i> &nbsp; Download Synopsis
                        </a>
                        <a class="btn btn-success pull-right" onclick="printPdf('{% static thesis.synopsis %}')">
                            <i class="fa fa-print"></i> &nbsp; Print Synopsis
                        </a>
                        
                        <b>Synopsis</b> - <br /><br />
                        <object data="{% static thesis.synopsis %}" type="application/pdf" width="100%" height="800px">
                            <p>PhD Synopsis</p>
                        </object>
                        <br /><br />
                    </p>
                    <br />
                    <hr />
                </div>
                <div role="tabpanel" class="tab-pane fade" id="phd-thesis-{{ thesis.id }}" aria-labelledby="thesis-tab-{{ thesis.id }}">
                    <p>
                        <a class="btn btn-primary pull-right" href="{% static thesis.thesis %}" download="download">
                            <i class="fa fa-download"></i> &nbsp; Download Thesis
                        </a>
                        <a class="btn btn-success pull-right" onclick="printPdf('{% static thesis.thesis %}')">
                            <i class="fa fa-print"></i> &nbsp; Print Thesis
                        </a>
                        
                        <b>Thesis</b> - <br /><br />
                        <object data="{% static thesis.thesis %}" type="application/pdf" width="100%" height="800px">
                            <p>PhD Thesis</p>
                        </object>
                        <br /><br />
                    </p>
                    <br />
                    <hr />
                </div>
                <div role="tabpanel" class="tab-pane fade" id="phd-report-{{ thesis.id }}" aria-labelledby="report-tab-{{ thesis.id }}">
                    <form class="form-horizontal" method="post" action="">
                        {% csrf_token %}
                        <h4>General PhD Student Details</h4>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Student Name</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" value={{ thesis.student_full_name }} disabled>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Roll Number</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" value="{{thesis.student_username}}" disabled>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Department</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" value="Information Technology" disabled>
                            </div>
                        </div>
                        <br />
                        <h4>General Features of Thesis</h4>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Organisation and Get up</label>
                            <div class="col-sm-10">
                                <textarea class="form-control" id ="thesis-organisation-and-get-up-{{ thesis.id }}" name="thesis-organisation-and-get-up-{{ thesis.id }}" rows="4" ></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-5 control-label">
                                Whether quality of work is comparable to other universities of repute?
                            </label>
                            <div class="col-sm-7">
                                <label class="radio-inline">
                                    <input type="radio"  name="quality-check-{{ thesis.id }}" value="yes" checked> Yes
                                </label>
                                <label class="radio-inline">
                                    <input type="radio"  name="quality-check-{{ thesis.id }}" value="no"> No
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-5 control-label">
                                Whether thesis has embodied any new ideas with original thoughts?
                            </label>
                            <div class="col-sm-7">
                                <label class="radio-inline">
                                    <input type="radio"  name="orginal-check-{{ thesis.id }}" value="yes" checked> Yes
                                </label>
                                <label class="radio-inline">
                                    <input type="radio"  name="orginal-check-{{ thesis.id }}" value="no"> No
                                </label>
                            </div>
                        </div>
                        <br />
                        <h4>Comments</h4>
                        <div class="form-group">
                            <label class="col-sm-5 control-label">
                                Corrections in punctation, grammar, spelling or language
                            </label>
                            <div class="col-sm-7">
                                <label class="radio-inline">
                                    <input type="radio" name="grammar-check-{{ thesis.id }}" value="none" checked> None
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="grammar-check-{{ thesis.id }}" value="minor"> Minor
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="grammar-check-{{ thesis.id }}" value="require-changes"> Require Changes
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Technical Content of the Thesis</label>
                            <div class="col-sm-10">
                                <textarea class="form-control" id ="thesis-technical-content-{{ thesis.id }}"name="thesis-technical-content" rows="5" ></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Highlights and strong/weak points of the Thesis</label>
                            <div class="col-sm-10">
                                <textarea class="form-control" id ="thesis-highlights-points-{{ thesis.id }}" name="thesis-technical-content" rows="5" ></textarea>
                            </div>
                        </div>
                        <br />
                        <h4>Suggestions</h4>
                        <div class="form-group">
                            <div class="col-sm-10 col-md-offset-2">
                                <label class="radio">
                                    <input type="radio" name="suggestions-check-{{ thesis.id }}" value="1" checked>
                                    Minor queries or suggestions or modifications to which the student replies
                                    in writing and which is communicated to the oral board together with my report.
                                </label>
                                <label class="radio">
                                    <input type="radio" name="suggestions-check-{{ thesis.id }}" value="2">
                                    Suggestions and modifications to which the student's written reposnse is sent to
                                    me. I will give my reply to the same in two weeks of its receipt. This is neccessary
                                    before the thesis is considered by the oral board.
                                </label>
                            </div>
                        </div>
                        <br />
                        <h4>Specific Recommendations</h4>
                        <div class="form-group">
                            <div class="col-sm-10 col-md-offset-2">
                                <label class="radio">
                                    <input type="radio" name="specific-recommendations-{{ thesis.id }}" value="1" checked>
                                    Thesis is acceptable in the present form for the award of PhD degeree.
                                </label>
                                <label class="radio">
                                    <input type="radio" name="specific-recommendations-{{ thesis.id }}" value="2">
                                    The thesis is acceptable and the corrections, modifications, and improvement suggested
                                    by me would be incorporated in the thesis to the satisfaction of the oral board.
                                </label>
                                <label class="radio">
                                    <input type="radio" name="specific-recommendations-{{ thesis.id }}" value="3">
                                    The thesis needs techincal improvement/modifications, which must be carried out to my
                                    satisfaction before I recomment this thesis for acceptance.
                                </label>
                            </div>
                        </div>
                        <h4>FeedBack</h4>
                        <textarea class="form-control" id="thesis-feedback-{{ thesis.id }}" rows="5" ></textarea>

                        <br />
                        <button type="button" class="btn btn-primary pull-right"
                        onclick="evaluateThesis({{ thesis.id }},'{{ request.path }}evaluate/', '{{ csrf_token }}')">Submit Feedback</button>
                     </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}

{% endblock %}
{% block scripts %}
<!-- Add any page specific javascript files here -->
<script>
    function evaluateThesis(id, url, csrf_token) {
        $.post(url, {
            'id': id,
            'Department': 'Information Technology',
            'thesis-organisation-get-up': $('#thesis-organisation-and-get-up-' + id).val(),
            'quality-check': $('input[name="quality-check-' + id + '"]:checked').val(),
            'orginal-check': $('input[name="orginal-check-' + id + '"]:checked').val(),
            'grammer-check': $('input[name="grammar-check-' + id + '"]:checked').val(),
            'thesis-technical-content': $('#thesis-technical-content-' + id).val(),
            'thesis-highlights-points': $('#thesis-highlights-points-' + id).val(),
            'suggestions-check': $('input[name="suggestions-check-' + id + '"]:checked').val(),
            'specific-recommendations': $('input[name="specific-recommendations-' + id + '"]:checked').val(),
            'feedback' : $('#thesis-feedback-' + id).val(),
            'csrfmiddlewaretoken': csrf_token
        }, function (data) {
            if (data.status === "OK") {
                $('#thesis-' + id).fadeOut();
                $('#message').html(data.message);
                $('#success-message').show();
                $('#success-message').fadeOut(3000);

            }
        });
    }

    function printPdf(link) {
        w = window.open(link);
        w.print();
        w.close();
    }
</script>
<script>
    $(document).ready(function () {
        //$('.collapse-link').click();
    });
</script>
{% endblock %}